 

<ion-content>
  <div id="content">
    
 
      <div id="congratulations">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2>Congratulations</h2> 
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
      </div>
      <p>Well done! <a [routerLink]="['/']">Back to Home</a></p>
  </div>
</ion-content>
