 

<ion-content>
  <div class="wrapper">
    <div>
      <h1>Math Puzzle</h1>
    </div>
     <div class="actions"> 
        <div *ngIf="global.continue == 'true'">
          <button (click)="continue_play()" class="continueButton">Continue Stage {{ global.stage }}/10</button>
        </div>
          <br>
        <div>
          <button (click)="playGame()" class="playButton"> {{ global.continue == 'true' ? "Restart Game" : "Play Game" }}</button>
        </div>
        <br> 
        
     </div>
     <p>&copy; 2020 Developed by <a href="https://algermakiputin.github.io/portfolio">Alger</a></p>
  </div>
  
</ion-content>
